@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

:root {
  --font-color: #000000;
  --background-color: #f5f5f5;
  --border-color: #000000;
  --icon-color: #000000;
  --container-color: #f5f5f5;
  --small-container-color: #f5f5f5;
  --container-border: #000000;
  --container-hover: #ffffff;
  --input-border-color: #000000;
  --input-focus-border-color: #000000;
  --link-color: #5190f5;
  --link-hover: #00d5ff;
  --alink-color-hover: #808080;
  --shadow-color: rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] {
  --font-color: #f5f5f5;
  --background-color: #09192f;
  --border-color: #f5f5f5;
  --icon-color: #f5f5f5;
  --container-color: #172a46;
  --small-container-color: #274066;
  --container-border: #67ffe1;
  --container-hover: #314e79;
  --input-border-color: #f5f5f5;
  --input-focus-border-color: #67ffe1;
  --link-color: #67ffe1;
  --link-hover: #ff00f2;
  --alink-color-hover: #67ffe1;
  --shadow-color: rgb(103, 255, 225, 0.7);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: var(--background-color);
}

img {
  width: 100%;
}

nav {
  padding: 10px;
  text-align: right;
  border-bottom: 3px solid var(--border-color);
}

nav p {
  display: inline;
  margin-right: 10px;
  padding: 5px;
}

nav li {
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.logout-button {
  color: var(--icon-color);
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.moon-button {
  color: var(--icon-color);
  margin-right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.sun-button {
  color: var(--icon-color);
  margin-right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.moon-button__welcome {
  color: var(--icon-color);
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.sun-button__welcome {
  color: var(--icon-color);
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.language-button {
  color: var(--icon-color);
  margin-right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.sun-button__welcome:hover {
  color: #ffbb00;
  scale: 1.2;
}

.moon-button__welcome:hover {
  color: #4e3088;
  scale: 1.2;
}

.sun-button:hover {
  color: #ffbb00;
  scale: 1.2;
}

.moon-button:hover {
  color: #4e3088;
  scale: 1.2;
}
.language-button:hover {
  color: #5190f5;
  scale: 1.2;
}

.logout-button:hover {
  color: #c71e1e;
  scale: 1.2;
}

.apps-name a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 800;
}

.apps-name a:hover {
  text-decoration: none;
  color: var(--alink-color-hover);
  font-weight: 800;
}

.notes-app {
  margin: 0 auto;
  padding: 16px;
}

.notes-app h1 {
  text-align: center;
  font-weight: normal;
  font-size: 48px;
}

.notes-app h2 {
  text-align: center;
}

.notes-item {
  height: 240px;
  width: 360px;
  display: flex;
  align-items: center;
  margin: 11px 11px 11px 11px;
  border: 1px solid var(--container-border);
  padding: 16px;
  border-radius: 8px;
  transition: 0.3s;
  background-color: var(--small-container-color);
}

.notes-item:hover {
  transform: scale(1.1);
  background-color: var(--container-hover);
}

.notes-item:hover .delete-icon {
  visibility: visible;
}
.notes-item:hover .edit-icon {
  visibility: visible;
}
.notes-item:hover .archive-icon {
  visibility: visible;
}

.notes-item:hover .unarchive-icon {
  visibility: visible;
}

.notes-item:hover .notes-item__note {
  -webkit-line-clamp: 4;
  height: 95px;
}

.notes-list__contain-active {
  background-color: var(--container-color);
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  margin-top: 50px;
  border-radius: 8px;
  padding-bottom: 11px;
}

.notes-list__contain-active > h3 {
  color: var(--font-color);
  text-align: center;
  padding: 10px;
}

.notes-list__contain-archived {
  background-color: var(--container-color);
  color: var(--font-color);
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  border-radius: 8px;
  padding-bottom: 11px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.notes-list__contain-archived > h3 {
  text-align: center;
  padding: 10px;
}

.notes-list {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-wrap: wrap;
}

.notes-item__image img {
  width: 64px;
  border-radius: 50%;
}

.notes-item__body {
  flex: 1;
}

.notes-item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 0;
}

.notes-item__title a {
  color: var(--font-color);
  text-decoration: none;
}

.notes-item__title a:hover {
  color: var(--alink-color-hover);
  text-decoration: none;
}

.notes-item__body {
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

.notes-item__body-detailed {
  margin: 0 auto;
  word-wrap: break-word;
  width: 80%;
  height: 80%;
  border: 1px solid var(--container-border);
  padding: 16px;
  border-radius: 8px;
}

.register-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.register-input {
  color: var(--font-color);
  background-color: var(--small-container-color);
  width: 35%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 8px 0 var(--shadow-color);
}

.back-to__login {
  color: var(--font-color);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.link-login {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

.link-login:hover {
  color: var(--link-hover);
}

.link-signup {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

.link-signup:hover {
  color: var(--link-hover);
}

.go-to__register {
  color: var(--font-color);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.register-input h2 {
  margin-bottom: 20px;
}

.register-input input {
  font-family: 'Kanit', sans-serif;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  outline: none;
  border-color: var(--background-color);
}

.register-input input:focus {
  border-color: rgb(137, 224, 6);
}

.register-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.register-input button {
  margin-top: 5px;
  color: var(--font-color);
  font-family: 'Kanit', sans-serif;
  background-color: var(--small-container-color);
  font-weight: 900;
  font-size: 1em;
  padding: 10px;
  width: 100px;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid var(--container-border);
  transition: 0.3s;
}

.notes-input button {
  margin-top: 5px;
  color: var(--font-color);
  font-family: 'Kanit', sans-serif;
  background-color: var(--container-color);
  font-weight: 900;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 10px;
  width: 50%;
  display: block;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid var(--container-border);
  transition: 0.3s;
}

.notes-input button:hover {
  border: 3px solid #3cff00;
  scale: 1.1;
}

.register-button button:disabled {
  color: var(--font-color);
  width: 200px;
}

.register-button button:disabled:hover {
  border: 3px solid rgb(255, 0, 0);
}

.register-button button:hover {
  border: 3px solid #3cff00;
  scale: 1.1;
}

.notes-item__note {
  color: var(--font-color);
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 135px;
  border: 1px dashed var(--container-border);
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
}

.notes-item__note-detailed {
  color: var(--font-color);
  height: fit-content;
  border: 1px dashed var(--container-border);
  padding: 10px 10px 10px 10px;
  text-align: justify;
  border-radius: 8px;
}
.notes-item__body-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.notes-item__date {
  color: var(--font-color);
  word-wrap: break-word;
  font-weight: lighter;
  font-size: 12px;
  margin-bottom: 20px;
}

.note-item__delete {
  padding: 8px 20px 8px 20px;
  font-size: 18px;
  background-color: red;
  color: white;
  border: 0;
  border-radius: 18px;
  cursor: pointer;
}

.note-button__effect:hover {
  position: relative;
  animation-name: effect-button;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes effect-button {
  0% {
    opacity: 100%;
    bottom: 0px;
  }
  100% {
    opacity: 100%;
    bottom: 5px;
  }
}

.notes-list__empty {
  background-color: var(--container-color);
  color: var(--font-color);
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 24px;
  padding: 20px;
}
.notes-list__empty p {
  margin: 0 auto;
  margin-top: 10px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed var(--container-border);
  font-weight: bold;
  text-align: center;
}
.notes-list__empty-archived {
  background-color: var(--container-color);
  color: var(--font-color);
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 24px;
  padding: 20px;
}

.notes-list__empty-archived p {
  margin: 0 auto;
  margin-top: 10px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed var(--container-border);
  font-weight: bold;
  text-align: center;
}

.notes-list__empty-archived h3 {
  margin-bottom: 10px;
  text-align: center;
}

.notes-list__empty h3 {
  margin-bottom: 10px;
  text-align: center;
}

.info-button {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

.delete-info {
  color: red;
}

.edit-info {
  color: blue;
}

.checklist-info {
  color: rgb(0, 209, 0);
}

.undo-info {
  color: rgb(255, 174, 0);
}

.notes-item__edit {
  padding: 8px 20px 8px 20px;
  font-size: 18px;
  background-color: blue;
  color: white;
  border: 0;
  border-radius: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.notes-item__checklist {
  padding: 8px 20px 8px 20px;
  font-size: 18px;
  background-color: rgb(0, 209, 0);
  color: white;
  border: 0;
  border-radius: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.notes-input {
  color: var(--font-color);
  background-color: var(--container-color);
  max-width: 45%;
  padding: 16px;
  margin: 14px auto;
  border-radius: 8px;
  margin-bottom: 32px;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 var(--shadow-color);
}

.notes-input h2 {
  margin-bottom: 10px;
}

.search-note input {
  display: block;
  width: 30%;
  padding: 8px;
  margin: 0 auto;
  font-family: 'Kanit', sans-serif;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  margin-bottom: 11px;
}

.notes-list__contain-archived .notes-item__checklist {
  background-color: rgb(255, 174, 0);
}
.notes-list__contain-archived .notes-item__checklist span::before {
  content: '\238c';
  cursor: pointer;
}

.notes-list__contain-active .notes-item__checklist span::after {
  content: '\2713';
}

.archived-note__search input {
  display: block;
  width: 30%;
  padding: 8px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  border: 1px solid black;
  border-radius: 8px;
}

.notes-input input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: 'Kanit', sans-serif;
  border: 1px solid black;
  border-radius: 8px;
}

.notes-input textarea {
  resize: none;
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  border: 1px solid black;
}

.add-new-page__input__body {
  background-color: var(--small-container-color);
  resize: none;
  display: block;
  width: 100%;
  min-height: 100px;
  height: fit-content;
  padding: 8px;
  margin: 8px 0;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  border: 1px solid var(--input-border-color);
  outline: none;
}

.add-new-page__input__body:focus {
  border: 1px solid var(--input-focus-border-color);
}

.notes-input__edit input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  border: 1px solid black;
}

.notes-input__edit textarea {
  resize: none;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  font-family: 'Inter', sans-serif;
  border-radius: 8px;
  border: 1px solid black;
}

.notes-input__edit button {
  width: 100%;
  padding: 8px;
  font-family: 'Inter', sans-serif;
}

.float-translate {
  cursor: pointer;
  position: fixed;
  width: 60px;
  height: 60px;
  top: 25px;
  right: 25px;
  background-color: #5190f5;
  color: black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.float-translate:hover .translate-icon {
  color: #5190f5;
}

.float-translate:hover {
  scale: 1.2;
  background-color: white;
  box-shadow: 0 0px 8px 0 var(--shadow-color);
}

.translate-icon {
  color: white;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.float-theme {
  cursor: pointer;
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 25px;
  left: 25px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.float-add {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  right: 25px;
  background-color: rgb(0, 216, 11);
  color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.add-icon {
  width: 30px;
  height: 30px;
}

.float-archived {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 25px;
  left: 25px;
  background-color: black;
  color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.archived-icon {
  width: 30px;
  height: 30px;
}

.float-add:hover {
  animation-name: effect-round-button;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.float-archived:hover {
  animation-name: effect-round-button;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.float-translate:hover {
  animation-name: effect-round-button;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.delete-icon {
  visibility: hidden;
  color: red;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.edit-icon {
  visibility: hidden;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.archive-icon {
  visibility: hidden;
  color: rgb(0, 209, 0);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.unarchive-icon {
  visibility: hidden;
  color: rgb(255, 174, 0);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@keyframes effect-round-button {
  0% {
    opacity: 100%;
    bottom: 25px;
  }
  100% {
    opacity: 100%;
    bottom: 30px;
  }
}

.notes-item__body-detailed {
  background-color: var(--container-color);
  margin-top: 50px;
}

.notes-item__body-detailed h1 {
  color: var(--font-color);
  text-align: left;
  margin-bottom: 5px;
}

.notes-item__body-detailed p {
  color: var(--font-color);
  font-size: medium;
}
